<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <!-- Tapestry realtive new wizard --> 
  <extension
         id="TapestryUIWizards"
         point="org.eclipse.ui.newWizards">
      <category
            name="%tapestry.ui.views.category.name"
            id="org.eclipse.wst.web.tapestry.ui">
      </category>
      
      <wizard
            name="%NewTapestryPage_tml"
            icon="icons/war.gif"
            category="org.eclipse.wst.web.tapestry.ui"
            project="true"
            class="org.eclipse.jst.tapestry.ui.internal.wizard.AddTapestryNewWizard"
            finalPerspective="org.eclipse.wst.web.ui.webDevPerspective"
            id="org.eclipse.wst.web.tapestry.ui.internal.wizards.TapestryPageWizard">
         <description>
            %NewTapestryPage_des
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      
  </extension>
  
  <extension point="org.eclipse.ui.propertyPages">
    <page
          adaptable="true"
          category="org.eclipse.wst.common.project.facet.ui.FacetsPropertyPage"
          class="org.eclipse.jst.tapestry.ui.internal.project.facet.TapestryLibraryPropertyPage"
          id="org.eclipse.jst.tapestry.ui.internal.project.facet.JSFLibraryPropertyPage"
          name="%tapestry.library.property.page"
          objectClass="org.eclipse.core.resources.IProject">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test 
            forcePluginActivation="true"
            property="org.eclipse.wst.common.project.facet.core.projectFacet"
            value="jst.tapestry"/>
        </adapt>
      </enabledWhen>          
    </page>
  </extension>

  <extension 
        point="org.eclipse.wst.common.project.facet.ui.wizardPages">
     <wizard-pages action="jst.tapestry.v5.install">
        <page class="org.eclipse.jst.tapestry.ui.internal.project.facet.TapestryFacetInstallPage"/>
     </wizard-pages>
  </extension>  
        
</plugin>
